.idea/
.vscode/
volumes/kafka/*
volumes/database/*
!volumes/kafka/.gitkeep
!volumes/database/.gitkeep
.DS_Store
ingestion/project/target/**
ingestion/project/project/target/**
spark/connexion/project/target/**
