body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", Oxygen-Sans, "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.receipt {
  max-width: 550px;
  position: relative;
}

.receipt .receipt-date {
  display: block;
  font-style: italic;
  font-size: 0.8em;
}

.receipt h3 {
  font-weight: normal;
  margin-bottom: -10px;
}

.receipt .sum {
  font-weight: 900;
  font-size: 4.8em;
  font-style: italic;
  color: #222;
}

.receipt .ticket-items td:first-child, .receipt .ticket-items th:first-child {
  min-width: 45%;
}


.receipt .ticket-items td:nth-child(3), .receipt .ticket-items th:nth-child(3) {
  max-width: 2em;
  text-align: center;
}

.receipt .ticket-items td:nth-child(2), .receipt .ticket-items th:nth-child(2) {
  text-align: right;
}

.receipt .ticket-items td:last-child, .receipt .ticket-items th:last-child {
  text-align: right;
  max-width: 2em;
}

.receipt .ticket-items td:last-child  a:hover, .receipt .ticket-items th:last-child a:hover {
  text-decoration: none;
}

.receipt .ticket-items tr:nth-last-child(3) td:last-child, .receipt .ticket-items tr:nth-last-child(3) td:nth-last-child(2),
.receipt .ticket-items tr:nth-last-child(3) td:nth-last-child(3) {
    position: relative;
}

.receipt .ticket-items tr:nth-last-child(3) td:last-child:before, .receipt .ticket-items tr:nth-last-child(3) td:nth-last-child(2):before,
.receipt .ticket-items tr:nth-last-child(3) td:nth-last-child(3):before {
  content: " ";
  position: absolute;
  top: -3px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-top: 1px solid #dee2e6;
}

.receipt .ticket-items tr:nth-last-child(3) td:not(:last-child):not(:nth-last-child(2)):not(:nth-last-child(3)),
.receipt .ticket-items tr:nth-last-child(2) td:not(:last-child):not(:nth-last-child(2)):not(:nth-last-child(3)),
.receipt .ticket-items tr:nth-last-child(1) td:not(:last-child):not(:nth-last-child(2)):not(:nth-last-child(3)) {
  border: none;
}

.tooltip-avl {
  text-decoration: underline;
  text-decoration-style: dashed;
}

.receipt .dialogue {
  position: absolute;
  z-index: 2;
  margin: 6em 2em;
  width: calc(100% - 4em);
  transition: transform .3s, opacity .3s;
}

.receipt .dialogue .card-body > .row > .col:nth-child(2n) {
  font-weight: bold;
}

.receipt .dialogue.hidden {
  /* display: none; */
  opacity: 0;
  transform: scale(0.6);
}

.receipt .dialogue.open {
  display: auto;
  opacity: 1;
  transform: scale(1);
}

.receipt .customer {
  text-align: center;
  margin: 0em 5em 2em 5em;
}

.receipt .customer.loyality {
  font-style: italic;
  font-size: 1.4em;
  margin-top: 1em;
}

.receipt .receipt-body > .details {
  color: #777;
  margin: 1em 2em 1em .9em;
  font-size: .8em;
}

.receipt .receipt-body > .details > .row > .col:nth-child(2n) {
  font-weight: bold;
}

.receipt .receipt-body > .details {
  color: #777;
  margin-right: 2em;
  margin-left: .9em;
  font-size: .8em;
}

.starring-total {
  display: flex;
  align-content: space-around;
  align-items: flex-start;
}

table.payment-types {
  margin-top: 2em;
  margin-left: 2em;
  flex-grow: 1;
}

table.payment-types > tr > td {
  padding-left: 1em;
  padding-bottom: 0.6em;
}

table.payment-types > tr > td:first-child {
  text-align: center;
}

.horizontalScroller {
  position: relative;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  flex-wrap: nowrap;
}

.horizontalScroller > * {
  position: relative;
  height: 100%;
  flex-shrink: 0;
  margin-right: 1em;
  transition: margin .1s, width .5s, transform .3s, opacity .3s;
}

.horizontalScroller.awaits-action > *:not(:first-child) {
  will-change: scroll-position;
}

.horizontalScroller > *:not(.hidden) {
  width: 100%;
  transform: scale(1);
  opacity: 1;
  transition: none;
}

.horizontalScroller > .hidden {
  width: 100%;
  overflow: hidden;
  transform: scale(0.5);
  opacity: 0;

}

.horizontalScroller > .hidden:not(.hidden-interm) {
  width: 0%;
  height: 0px;
  margin-right: 0;
  transition: none;
}

.payment-cb-dark {
  background-image: url(cb-dark.svg) !important;
}